**/venv
**/__pycache__
**/input_data/

**/catboost_info/
kaggle_house_prices/graphs/
kaggle_house_prices/log.txt


kaggle_loan_approval/graphs/
kaggle_loan_approval/models/
kaggle_load_approval/submissions
kaggle_load_approval/log.txt

**/.ipynb_checkpoints